body, html {
  margin: 0;
  padding: 0;
}

.App {
  min-width: 100%;
  min-height: 100%;
}

.container_row {
  display: flex;
  justify-content: center;
}

.container_column {
  margin: 5px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.horizontal_content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}

select, h4, h3, h2, h1, p, input, textarea {
  margin: 5px;
}

.shapes_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 100%;
  min-height: 50px;
}

.shape_image {
  width: 50px;
  height: 50px;
}

.shape_name {
  flex-grow: 2;
}

#root {
  height: 95vh;
  width: 98vw;
  margin: 10px;
}

.draggable {
  cursor: move;
}

#FolderButton {
  text-align: center;
  background: url('../public/Images/folder_100x100_black.png') no-repeat;
  background-position: center center;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 5px;
  padding: 0;
}

#FolderButton:hover {
  background-color: #EBEBEB;
}

#FolderButton:active {
  background: url('../public/Images/folder_100x100_white.png') no-repeat;
  background-size: 30px 30px;
  background-color: #4DC462;
  background-position: center center;
}

#SaveButton {
  text-align: center;
  background: url('../public/Images/save_100x100_black.png') no-repeat;
  background-position: center center;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
}

#SaveButton:hover {
  background-color: #EBEBEB;
}

#SaveButton:active {
  background: url('../public/Images/save_100x100_white.png') no-repeat;
  background-color: #4DC462;
  background-position: center center;
  background-size: 30px 30px;
}

#TimeSavedLabel {
  color: #808080;
  margin-right: 5px;
}

#SearchInput {
  height: 25px;
  border: 1px solid black;
  border-radius: 0;
}

#SearchInput:focus {
  outline-style: solid;
  outline-color: #66CD79;
  border: 1px solid #66CD79;
}

#ShapesGroupButton {
  background-color: #F3F3F3;
  text-align: left;
  border: 0;
  border-top: 2px solid #66CD79;
  height: 30px;
  flex-grow: 1;
}

#ShapesGroupButton:hover {
  background-color: #EBEBEB;
}

#ShapesGroupButton:active {
  background-color: #66CD79;
  color: white;
}

#ShapesGroup {
  background-color: white;
  margin: 5px;
}

.shape_button {
  border: 1px solid transparent;
  background-color: transparent;
}

.shape_button:hover {
  background-color: #EBEBEB;
}

.shape_button:active {
  background-color: #66CD79;
  color: white;
}

#PagesGroup {
  padding: 0;
  border: 0;
  margin: 0;
}

#PagesGroup > input {
  display: none;
}

#PagesGroup > label {
  padding: 5px;
  background-color: transparent;
  height: 20px;
  display: flex;
  align-items: center;
}

#PagesGroup > label:hover {
  background-color: #EBEBEB;
}

#PagesGroup > label:active {
  background-color: #4DC462;
  color: white;
}

#PagesGroup > input[type="radio"]:checked + label {
  background-color: #66CD79;
  color: white;
}

#EditPagesCountDiv {
  height: 30px;
}

#EditPagesCountDiv > button {
  border: 0;
  height: 30px;
  width: 30px;
}

#EditPagesCountDiv > button:hover {
  background-color: #DADADA;
}

#EditPagesCountDiv > button:active {
  background-color: #4DC462;
  color: white;
}

#AddPageButton {
  background: url('../public/Images/plus_100x100_black.png') no-repeat;
  background-position: center center;
  background-size: 30px 30px;
  margin-right: 5px;
}

#AddPageButton:hover {
  background-color: #EBEBEB;
}

#AddPageButton:active {
  background: url('../public/Images/plus_100x100_white.png') no-repeat;
  background-color: #4DC462;
  background-position: center center;
  background-size: 30px 30px;
}

#RemovePageButton {
  background: url('../public/Images/minus_100x100_black.png') no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}

#RemovePageButton:hover {
  background-color: #EBEBEB;
}

#RemovePageButton:active {
  background: url('../public/Images/minus_100x100_white.png') no-repeat;
  background-color: #4DC462;
  background-position: center center;
  background-size: 30px 30px;
}